body {
  text-align: center;
  background-color: #f2c966;
}

div {
  margin-top: 100px;
}

.image-section {
  display: block;
  justify-content: center;
}

.section-style {
  margin-right: 500px;
  margin-left: 500px;
  font-size: 22px;
  text-align: justify;
  background-color: #f2c966;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.figure-style {
  width 30%
  text-align: center;
  font-style: italic;
  font-size: smaller;
  border: thin silver solid;
  text-indent: 0;
}
